# Compiled source
*.o
*.so
*.d
*.a
.clang_complete
.cproject
.project
.settings/

/test/client
test/unit
test.c
.test.c.swp
a.out
*.swp

/doc/html/*
/doc/latex/*
/doc/*.pdf
/doc/*.aux
/doc/*.log
/lib/libgdbc.so
